body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h1 {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-width: 50ch;
  margin: 1rem auto;
}
